Extraindo informações do Bureau Balance: 
* https://www.kaggle.com/c/home-credit-default-risk/discussion/58445
* https://www.kaggle.com/c/home-credit-default-risk/discussion/57750

In [1]:
import pandas as pd
import numpy as np
import data
import charts
import pickle
import seaborn as sns

pd.set_option('display.max_columns', 500)
%matplotlib inline

In [2]:
def find_missing(data):
    # number of missing values
    count_missing = data.isnull().sum().values
    # total records
    total = data.shape[0]
    # percentage of missing
    ratio_missing = count_missing / total
    # return a dataframe to show: feature name, # of missing and % of missing
    return pd.DataFrame(data={'missing_count':count_missing, 'missing_ratio':ratio_missing}, index=data.columns.values)

In [19]:
application_train_df = pd.read_csv('dataset/application_train.csv')
application_train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## Bureau features

In [21]:
# Montagem da tabela relacionada ao bureau
bureau_full_df = pd.read_csv('dataset/bureau.csv')
bureau_balance_df = pd.read_csv('dataset/bureau_balance.csv')
#bureau_full_df = bureau_df.join(bureau_balance_df.set_index('SK_ID_BUREAU'), on='SK_ID_BUREAU')

# Adicionando o target para facilitar analises futuras e treinamento do meu futuro modelo
#bureau_full_df = bureau_full_df.join(application_train_df.set_index('SK_ID_CURR')['TARGET'], on='SK_ID_CURR')
bureau_balance_df.head(5)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [14]:
bureau_full_df.columns

Index(['SK_ID_CURR', 'BUREAU_LOAN_COUNT', 'BUREAU_LOAN_TYPES',
       'AVERAGE_LOAN_TYPE', 'ACTIVE_LOANS_PERCENTAGE', 'MIN_DAYS_DIFF',
       'MAX_DAYS_DIFF', 'MEAN_DAYS_DIFF', 'STD_DAYS_DIFF',
       'CREDIT_ENDDATE_PERCENTAGE', 'MIN_DAYS_ENDDATE_DIFF',
       'MAX_DAYS_ENDDATE_DIFF', 'MEAN_DAYS_ENDDATE_DIFF',
       'STD_DAYS_ENDDATE_DIFF', 'AVG_ENDDATE_FUTURE', 'TOTAL_CUSTOMER_DEBT',
       'TOTAL_CUSTOMER_CREDIT', 'DEBT_CREDIT_RATIO', 'TOTAL_CUSTOMER_OVERDUE',
       'OVERDUE_DEBT_RATIO', 'AVG_CREDITDAYS_PROLONGED'],
      dtype='object')

In [12]:
bureau_full_df[bureau_full_df.TOTAL_CUSTOMER_OVERDUE > 0]

,SK_ID_CURR,SK_ID_BUREAU,BUREAU_LOAN_COUNT,BUREAU_LOAN_TYPES,AVERAGE_LOAN_TYPE,ACTIVE_LOANS_PERCENTAGE,DAYS_DIFF,CREDIT_ENDDATE_PERCENTAGE,DAYS_ENDDATE_DIFF,AVG_ENDDATE_FUTURE,TOTAL_CUSTOMER_DEBT,TOTAL_CUSTOMER_CREDIT,DEBT_CREDIT_RATIO,TOTAL_CUSTOMER_OVERDUE,OVERDUE_DEBT_RATIO,AVG_CREDITDAYS_PROLONGED
365,282297,5714943,11,3,3.666667,0.454545,98,0.272727,NaN,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
366,282297,5714944,11,3,3.666667,0.454545,370,0.272727,NaN,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
367,282297,5714945,11,3,3.666667,0.454545,118,0.272727,NaN,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
368,282297,5714947,11,3,3.666667,0.454545,261,0.272727,313.0,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
369,282297,5714948,11,3,3.666667,0.454545,109,0.272727,257.0,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
370,282297,5714952,11,3,3.666667,0.454545,817,0.272727,NaN,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
371,282297,5714953,11,3,3.666667,0.454545,273,0.272727,NaN,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
372,282297,5714954,11,3,3.666667,0.454545,0,0.272727,0.0,190.000000,6.294134e+05,3.693748e+06,0.170400,231.525,3.678425e-04,0.000000
782,408647,5715465,5,1,5.000000,0.600000,160,0.600000,NaN,344.000000,1.088064e+06,2.495084e+06,0.436083,288.000,2.646903e-04,0.000000
783,408647,5715466,5,1,5.000000,0.600000,1042,0.600000,NaN,344.000000,1.088064e+06,2.495084e+06,0.436083,288.000,2.646903e-04,0.000000
784,408647,5715467,5,1,5.000000,0.600000,602,0.600000,271.0,344.000000,1.088064e+06,2.495084e+06,0.436083,288.000,2.646903e-04,0.000000
785,408647,5715468,5,1,5.000000,0.600000,0,0.600000,0.0,344.000000,1.088064e+06,2.495084e+06,0.436083,288.000,2.646903e-04,0.000000
786,408647,5715469,5,1,5.000000,0.600000,248,0.600000,761.0,344.000000,1.088064e+06,2.495084e+06,0.436083,288.000,2.646903e-04,0.000000
936,380677,5715645,10,2,5.000000,0.600000,1523,0.500000,NaN,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
937,380677,5715647,10,2,5.000000,0.600000,1,0.500000,NaN,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
938,380677,5715648,10,2,5.000000,0.600000,0,0.500000,NaN,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
939,380677,5715649,10,2,5.000000,0.600000,46,0.500000,894.0,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
940,380677,5715650,10,2,5.000000,0.600000,392,0.500000,NaN,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
941,380677,5715651,10,2,5.000000,0.600000,337,0.500000,0.0,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
942,380677,5715652,10,2,5.000000,0.600000,0,0.500000,0.0,190.800000,6.844095e+05,1.214273e+06,0.563637,58.500,8.547514e-05,0.000000
1575,218135,5716400,5,1,5.000000,0.400000,214,0.000000,NaN,NaN,0.000000e+00,3.375000e+05,0.000000,504.000,inf,0.000000
1576,218135,5716401,5,1,5.000000,0.400000,1635,0.000000,NaN,NaN,0.000000e+00,3.375000e+05,0.000000,504.000,inf,0.000000
1577,218135,5716403,5,1,5.000000,0.400000,181,0.000000,NaN,NaN,0.000000e+00,3.375000e+05,0.000000,504.000,inf,0.000000
1578,218135,5716404,5,1,5.000000,0.400000,0,0.000000,NaN,NaN,0.000000e+00,3.375000e+05,0.000000,504.000,inf,0.000000
1788,229323,5716668,5,1,5.000000,0.400000,1,0.400000,NaN,0.000000,5.583465e+05,1.224909e+06,0.455827,169582.500,3.037227e-01,0.000000
1789,229323,5716669,5,1,5.000000,0.400000,0,0.400000,0.0,0.000000,5.583465e+05,1.224909e+06,0.455827,169582.500,3.037227e-01,0.000000
1790,229323,5716670,5,1,5.000000,0.400000,10,0.400000,NaN,0.000000,5.583465e+05,1.224909e+06,0.455827,169582.500,3.037227e-01,0.000000
1791,229323,5716671,5,1,5.000000,0.400000,4,0.400000,0.0,0.000000,5.583465e+05,1.224909e+06,0.455827,169582.500,3.037227e-01,0.000000
1792,229323,5716672,5,1,5.000000,0.400000,197,0.400000,NaN,0.000000,5.583465e+05,1.224909e+06,0.455827,169582.500,3.037227e-01,0.000000
1846,295460,5716740,3,2,1.500000,1.000000,0,0.333333,0.0,0.000000,0.000000e+00,8.545500e+05,0.000000,576.000,inf,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714825,139770,5094158,18,2,9.000000,0.055556,173,0.333333,NaN,5017.166667,5.225400e+04,1.847503e+06,0.028284,783.000,1.498450e-02,0.000000
1714826,139770,5094164,18,2,9.000000,0.055556,0,0.333333,0.0,5017.166667,5.225400e+04,1.847503e+06,0.028284,783.000,1.498450e-02,0.000000
1714872,191765,5104468,6,2,3.000000,0.333333,0,0.500000,0.0,10236.666667,1.112310e+05,9.207360e+05,0.120807,4.500,4.045635e-05,0.166667
1714873,191765,5104470,6,2,3.000000,0.333333,0,0.500000,NaN,10236.666667,1.112310e+05,9.207360e+05,0.120807,4.500,4.045635e-05,0.166667
1714901,139563,5104705,12,2,6.000000,0.250000,601,0.166667,NaN,145.000000,3.940452e+05,1.446845e+06,0.272348,9.000,2.284002e-05,0.000000
1714902,139563,5104709,12,2,6.000000,0.250000,0,0.166667,NaN,145.000000,3.940452e+05,1.446845e+06,0.272348,9.000,2.284002e-05,0.000000
1715016,349836,5073893,3,1,3.000000,0.333333,98,0.333333,NaN,0.000000,1.240695e+05,3.703185e+05,0.335035,4.500,3.626999e-05,0.000000
1715129,380522,5088112,5,3,1.666667,0.800000,0,0.800000,0.0,1442.750000,3.593038e+06,6.256875e+06,0.574255,220.500,6.136867e-05,0.000000
1715200,423934,5094674,12,2,6.000000,0.583333,303,0.500000,201.0,127.000000,9.462870e+05,2.489296e+06,0.380142,16645.500,1.759033e-02,0.000000
1715201,423934,5094678,12,2,6.000000,0.583333,235,0.500000,NaN,127.000000,9.462870e+05,2.489296e+06,0.380142,16645.500,1.759033e-02,0.000000
1715301,175214,5044936,8,3,2.666667,0.500000,288,0.625000,60.0,903.800000,1.615600e+07,2.374575e+07,0.680375,9.000,5.570685e-07,0.000000
1715320,410990,5046342,13,2,6.500000,0.307692,57,0.307692,NaN,7743.250000,3.748647e+05,3.131539e+06,0.119706,36.000,9.603466e-05,0.000000
1715448,102875,5052787,15,3,5.000000,0.400000,102,0.333333,15.0,1203.000000,2.951487e+06,7.484517e+06,0.394346,36.000,1.219724e-05,0.000000
1715449,102875,5052790,15,3,5.000000,0.400000,38,0.333333,NaN,1203.000000,2.951487e+06,7.484517e+06,0.394346,36.000,1.219724e-05,0.000000
1715450,102875,5052792,15,3,5.000000,0.400000,0,0.333333,NaN,1203.000000,2.951487e+06,7.484517e+06,0.394346,36.000,1.219724e-05,0.000000
1715462,191065,5052946,13,3,4.333333,0.230769,245,0.307692,NaN,7710.250000,2.842650e+05,3.540578e+06,0.080288,9085.500,3.196137e-02,0.000000
1715463,191065,5052948,13,3,4.333333,0.230769,445,0.307692,NaN,7710.250000,2.842650e+05,3.540578e+06,0.080288,9085.500,3.196137e-02,0.000000
1715626,225755,5045159,9,2,4.500000,0.444444,0,0.555556,130.0,275.800000,1.676498e+06,4.330048e+06,0.387178,131832.000,7.863537e-02,0.000000
1715627,225755,5045160,9,2,4.500000,0.444444,261,0.555556,0.0,275.800000,1.676498e+06,4.330048e+06,0.387178,131832.000,7.863537e-02,0.000000
1715628,225755,5045164,9,2,4.500000,0.444444,327,0.555556,NaN,275.800000,1.676498e+06,4.330048e+06,0.387178,131832.000,7.863537e-02,0.000000
1715629,225755,5045165,9,2,4.500000,0.444444,0,0.555556,NaN,275.800000,1.676498e+06,4.330048e+06,0.387178,131832.000,7.863537e-02,0.000000
1715871,169437,5054640,4,2,2.000000,0.750000,3,0.500000,0.0,35.000000,2.259585e+05,3.092175e+05,0.730743,760.500,3.365662e-03,0.000000
1715938,405928,5056854,12,2,6.000000,0.333333,510,0.166667,NaN,92.500000,3.219424e+05,1.794085e+06,0.179447,12817.710,3.981367e-02,0.083333
1715952,433357,5057006,14,2,7.000000,0.642857,32,0.785714,31.0,132.272727,1.043053e+06,2.383956e+06,0.437530,873.000,8.369664e-04,0.000000
1715953,433357,5057010,14,2,7.000000,0.642857,0,0.785714,282.0,132.272727,1.043053e+06,2.383956e+06,0.437530,873.000,8.369664e-04,0.000000
1715954,433357,5057011,14,2,7.000000,0.642857,0,0.785714,118.0,132.272727,1.043053e+06,2.383956e+06,0.437530,873.000,8.369664e-04,0.000000
1716016,363517,5043757,6,1,6.000000,0.166667,433,0.166667,NaN,0.000000,1.197405e+05,2.029529e+06,0.058999,99.000,8.267879e-04,0.000000
1716215,379272,5051674,18,2,9.000000,0.444444,9,0.500000,0.0,3442.222222,1.562409e+05,2.582819e+06,0.060492,13.500,8.640506e-05,0.000000
1716216,379272,5051677,18,2,9.000000,0.444444,41,0.500000,NaN,3442.222222,1.562409e+05,2.582819e+06,0.060492,13.500,8.640506e-05,0.000000
1716340,234114,5055386,12,2,6.000000,0.333333,26,0.416667,NaN,57.400000,3.910005e+05,2.590078e+06,0.150961,27.000,6.905362e-05,0.000000

In [10]:
df = bureau_full_df
#grp = df.groupby(by=['SK_ID_CURR'])['DAYS_ENDDATE_DIFF'].mean().reset_index().rename(index=str, columns={
#    feature_name: 'AVERAGE_%s' % feature_name.upper()})

agg_func = ['min', 'max', 'mean']
feature_name = 'DAYS_ENDDATE_DIFF'

columns = {}
for f in agg_func:
    columns[f] = f.upper() + '_' + feature_name

grp = df.groupby(by=['SK_ID_CURR'])[feature_name].agg(agg_func)
grp.reset_index().rename(index=str, columns=columns)

,SK_ID_CURR,MIN_DAYS_ENDDATE_DIFF,MAX_DAYS_ENDDATE_DIFF,MEAN_DAYS_ENDDATE_DIFF
0,100001,0.0,876.0,455.666667
1,100002,0.0,695.0,143.600000
2,100003,0.0,0.0,0.000000
3,100004,NaN,NaN,NaN
4,100005,0.0,1202.0,601.000000
5,100007,NaN,NaN,NaN
6,100008,0.0,0.0,0.000000
7,100009,0.0,905.0,252.600000
8,100010,0.0,0.0,0.000000
9,100011,NaN,NaN,NaN
10,100013,NaN,NaN,NaN
11,100014,0.0,659.0,226.000000
12,100015,NaN,NaN,NaN
13,100016,0.0,609.0,155.500000
14,100017,0.0,0.0,0.000000
15,100019,0.0,10044.0,5022.000000
16,100020,0.0,269.0,134.500000
17,100022,0.0,998.0,499.000000
18,100023,0.0,713.0,321.800000
19,100025,0.0,0.0,0.000000
20,100026,0.0,1364.0,454.666667
21,100027,0.0,0.0,0.000000
22,100028,0.0,29950.0,6021.800000
23,100029,0.0,0.0,0.000000
24,100030,0.0,1171.0,390.333333
25,100031,0.0,491.0,143.166667
26,100032,NaN,NaN,NaN
27,100033,0.0,0.0,0.000000
28,100035,0.0,8564.0,2358.500000
29,100036,NaN,NaN,NaN
...,...,...,...,...
305781,456220,0.0,26106.0,13053.000000
305782,456221,0.0,298.0,149.000000
305783,456223,0.0,0.0,0.000000
305784,456224,0.0,189.0,75.600000
305785,456225,0.0,720.0,144.000000
305786,456226,0.0,0.0,0.000000
305787,456227,0.0,0.0,0.000000
305788,456229,0.0,0.0,0.000000
305789,456230,0.0,26714.0,5345.000000
305790,456231,0.0,1220.0,450.200000
305791,456232,0.0,142.0,71.000000
305792,456233,0.0,0.0,0.000000
305793,456234,0.0,180.0,90.000000
305794,456235,0.0,0.0,0.000000
305795,456236,0.0,8839.0,1929.200000
305796,456237,NaN,NaN,NaN
305797,456238,0.0,37.0,18.500000
305798,456239,0.0,8663.0,2477.000000
305799,456240,0.0,0.0,0.000000
305800,456241,0.0,0.0,0.000000
305801,456242,0.0,0.0,0.000000
305802,456243,0.0,350.0,87.500000
305803,456244,0.0,368.0,148.166667
305804,456246,0.0,814.0,407.000000
305805,456247,0.0,8736.0,2289.750000
305806,456249,0.0,0.0,0.000000
305807,456250,0.0,543.0,271.500000
305808,456253,0.0,726.0,363.000000
305809,456254,NaN,NaN,NaN
305810,456255,0.0,18700.0,3863.000000

In [39]:
bureau_full_df['CREDIT_TYPE'].unique()

array(['Consumer credit', 'Credit card', 'Mortgage', 'Car loan',
       'Microloan', 'Loan for working capital replenishment',
       'Loan for business development', 'Real estate loan'], dtype=object)

In [18]:
with open('dataset/bureau_full.pkl', 'wb') as handle:
    model_predicts = pickle.dump(bureau_full_df, handle)

### NOTAS
> * Numeros negativos em datas (Ex.: DAYS_CREDIT, DAYS_CREDIT_ENDDATE etc.) significam que e no passado e positivos no futuro

### TODO:
> Ao verificar o mesmo cliente, podemos identificar que o mesmo pode estar registrado em diversos "escritórios" diferentes. 
> Isso pode gerar uma série de features interessantes:
> * OK: Quantos créditos já foram pedidos por este cliente?
> * OK: Gerar features baseados no numero de itens para cada cliente no CREDIT_ACTIVE
> * OK: Qual o tempo entre um emprestimo e outro?
> * OK: Qual o tempo médio entre um emprestimo e outro?
> * OK: Numero total de dias do emprestimo e tempo médio de emprestimos realizados
> * Existem dois ou mais pedidos de empréstimo ao mesmo tempo?
> * Existem créditos atrasados (CREDIT_DAY_OVERDUE)?
>   * Quantos creditos estao atrasados?
> * Quantos creditos ativos e nao ativos de cada tipo (CREDIT_TYPE) foram abertos?
> * Qual a porcentagem ja foi paga do credito (DAYS_CREDIT_ENDDATE e DAYS_CREDIT depois normalizar)
> * Qual a taxa de inadimplencia por SK_ID_BUREAU?

#### Quantos créditos já foram pedidos por este cliente?

In [128]:
bureau_full_df[(bureau_full_df.CREDIT_ACTIVE == 'Closed') & (bureau_full_df.DAYS_CREDIT_ENDDATE > 0)]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,TARGET,DAYS_CREDIT_DIFF,DAYS_CREDIT_DIFF_MEAN
353,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,0,139.285714
354,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,343,139.285714
355,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,28,139.285714
356,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,131,139.285714
357,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,299,139.285714
358,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,123,139.285714
359,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.0,0.0,0.0,Credit card,-429,NaN,0.0,51,139.285714
360,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,0,139.285714
361,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,343,139.285714
362,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,28,139.285714
363,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,131,139.285714
364,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,299,139.285714
365,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,123,139.285714
366,389599,5714530,Closed,currency 1,-1304,0,1253.0,-1287.0,NaN,0,225000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,51,139.285714
374,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,0,139.285714
375,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,343,139.285714
376,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,28,139.285714
377,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,131,139.285714
378,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,299,139.285714
379,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,123,139.285714
380,389599,5714532,Closed,currency 1,-1130,0,331.0,-858.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-847,NaN,0.0,51,139.285714
729,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,0,122.764706
730,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,123,122.764706
731,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,296,122.764706
732,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,204,122.764706
733,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,7,122.764706
734,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,158,122.764706
735,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,86,122.764706
736,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,202,122.764706
737,119939,5714573,Closed,currency 1,-1188,0,1369.0,-1090.0,NaN,0,450000.0,0.0,0.0,0.0,Consumer credit,-429,NaN,0.0,0,122.764706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2918,132745,5714974,Closed,currency 1,-224,0,141.0,-193.0,NaN,0,113040.0,0.0,0.0,0.0,Consumer credit,-190,NaN,0.0,1450,641.250000
2919,132745,5714974,Closed,currency 1,-224,0,141.0,-193.0,NaN,0,113040.0,0.0,0.0,0.0,Consumer credit,-190,NaN,0.0,100,641.250000
2926,221368,5714982,Closed,currency 1,-249,0,116.0,-189.0,0.0,0,111825.0,0.0,0.0,0.0,Consumer credit,-189,NaN,0.0,0,92.500000
2927,221368,5714982,Closed,currency 1,-249,0,116.0,-189.0,0.0,0,111825.0,0.0,0.0,0.0,Consumer credit,-189,NaN,0.0,185,92.500000
3234,317276,5715016,Closed,currency 1,-1050,0,777.0,-445.0,NaN,0,427500.0,0.0,0.0,0.0,Consumer credit,-422,NaN,0.0,0,211.000000
3235,317276,5715016,Closed,currency 1,-1050,0,777.0,-445.0,NaN,0,427500.0,0.0,0.0,0.0,Consumer credit,-422,NaN,0.0,264,211.000000
3236,317276,5715016,Closed,currency 1,-1050,0,777.0,-445.0,NaN,0,427500.0,0.0,0.0,0.0,Consumer credit,-422,NaN,0.0,369,211.000000
3288,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,0,326.250000
3289,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,91,326.250000
3290,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,74,326.250000
3291,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,115,326.250000
3292,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,250,326.250000
3293,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,34,326.250000
3294,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,585,326.250000
3295,115001,5715028,Closed,currency 1,-265,0,100.0,-174.0,NaN,0,67500.0,0.0,NaN,0.0,Consumer credit,-168,NaN,0.0,1461,326.250000
3512,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,0,336.142857
3513,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,429,336.142857
3514,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,1412,336.142857
3515,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,329,336.142857
3516,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,121,336.142857
3517,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,61,336.142857
3518,432545,5715064,Closed,currency 1,-2371,0,31111.0,-2128.0,NaN,0,270000.0,0.0,0.0,0.0,Credit card,-555,NaN,0.0,1,336.142857
3675,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,0,127.250000
3676,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,112,127.250000
3677,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,173,127.250000
3678,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,31,127.250000
3679,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,47,127.250000
3680,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,290,127.250000
3681,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,2,127.250000
3682,388014,5715090,Closed,currency 1,-71,0,113.0,-10.0,0.0,0,57060.0,0.0,0.0,0.0,Consumer credit,-7,NaN,0.0,363,127.250000

In [80]:
x = bureau_full_df[['SK_ID_CURR', 'SK_ID_BUREAU']].groupby(by = ['SK_ID_CURR'])
x = x['SK_ID_BUREAU'].count().reset_index()
x = x.rename(index=str, columns={'SK_ID_BUREAU': 'BUREAU_NUMBER_OF_LOANS'})
bureau_full_df = bureau_full_df.merge(x, on=['SK_ID_CURR'], how='left')

In [81]:
bureau_full_df[bureau_full_df.SK_ID_CURR == 100001]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,0.0,0.0,Consumer credit,-6,4630.5,7
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5,7
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5,7

#### Gerar features baseadas no número de itens para cada cliente no CREDIT_ACTIVE

In [82]:
for credit_active_state in bureau_full_df['CREDIT_ACTIVE'].unique():
    x = bureau_full_df[bureau_full_df.CREDIT_ACTIVE == credit_active_state][['SK_ID_CURR', 'CREDIT_ACTIVE']].groupby(by = ['SK_ID_CURR'])
    x = x['CREDIT_ACTIVE'].count().reset_index()

    new_column_name = 'BUREAU_NUMBER_OF_%s_LOANS' % credit_active_state.upper().replace(' ', '_')
    x = x.rename(index=str, columns={'CREDIT_ACTIVE': new_column_name})
    bureau_full_df = bureau_full_df.merge(x, on=['SK_ID_CURR'], how='left')
    bureau_full_df[new_column_name] = bureau_full_df[new_column_name].fillna(0)

In [83]:
bureau_full_df[bureau_full_df.SK_ID_CURR == 100001]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,BUREAU_NUMBER_OF_BAD DEBT_LOANS
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7,4.0,3.0,0.0,0.0
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7,4.0,3.0,0.0,0.0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7,4.0,3.0,0.0,0.0
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.0,0.0,0.0,0.0,Consumer credit,-155,0.0,7,4.0,3.0,0.0,0.0
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,0.0,0.0,Consumer credit,-6,4630.5,7,4.0,3.0,0.0,0.0
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5,7,4.0,3.0,0.0,0.0
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5,7,4.0,3.0,0.0,0.0

#### Qual o tempo entre um emprestimo e outro?

In [84]:
grp = bureau_full_df[['SK_ID_CURR', 'DAYS_CREDIT']].groupby(by = ['SK_ID_CURR'])
grp1 = grp.apply(lambda x: x.sort_values(['DAYS_CREDIT'], ascending = False)).reset_index(drop = True)
grp1['DAYS_CREDIT1'] = grp1['DAYS_CREDIT'] * -1
grp1['DAYS_CREDIT_DIFF'] = grp1.groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT1'].diff()
grp1['DAYS_CREDIT_DIFF'] = grp1['DAYS_CREDIT_DIFF'].fillna(0).astype('uint32')
del grp1['DAYS_CREDIT'], grp1['DAYS_CREDIT1']
grp1.head()

bureau_full_df = bureau_full_df.merge(grp1, on = ['SK_ID_CURR'], how = 'left')

In [85]:
# Qual o tempo medio entre os emprestimos realizados?
x = bureau_full_df[['SK_ID_CURR', 'DAYS_CREDIT_DIFF']].groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT_DIFF'].mean()
x = x.to_frame().reset_index().rename(index=str, columns={'DAYS_CREDIT_DIFF': 'DAYS_CREDIT_DIFF_MEAN'})
bureau_full_df = bureau_full_df.merge(x, on=['SK_ID_CURR'], how='left')

In [86]:
bureau_full_df[bureau_full_df.SK_ID_CURR == 100002]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,BUREAU_NUMBER_OF_BAD DEBT_LOANS,DAYS_CREDIT_DIFF,DAYS_CREDIT_DIFF_MEAN
6169431,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,0,166.75
6169432,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,373,166.75
6169433,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,169,166.75
6169434,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,397,166.75
6169435,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,1,166.75
6169436,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,78,166.75
6169437,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,4,166.75
6169438,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0,8,6.0,2.0,0.0,0.0,312,166.75
6169439,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,0,166.75
6169440,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,373,166.75
6169441,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,169,166.75
6169442,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,397,166.75
6169443,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,1,166.75
6169444,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,78,166.75
6169445,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,4,166.75
6169446,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN,8,6.0,2.0,0.0,0.0,312,166.75
6169447,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,0,166.75
6169448,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,373,166.75
6169449,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,169,166.75
6169450,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,397,166.75
6169451,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,1,166.75
6169452,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,78,166.75
6169453,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,4,166.75
6169454,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0,8,6.0,2.0,0.0,0.0,312,166.75
6169455,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,0,166.75
6169456,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,373,166.75
6169457,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,169,166.75
6169458,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,397,166.75
6169459,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,1,166.75
6169460,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0,8,6.0,2.0,0.0,0.0,78,166.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6169465,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,169,166.75
6169466,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,397,166.75
6169467,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,1,166.75
6169468,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,78,166.75
6169469,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,4,166.75
6169470,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0,8,6.0,2.0,0.0,0.0,312,166.75
6169471,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,0,166.75
6169472,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,373,166.75
6169473,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,169,166.75
6169474,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,397,166.75
6169475,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,1,166.75
6169476,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,78,166.75
6169477,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,4,166.75
6169478,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0,8,6.0,2.0,0.0,0.0,312,166.75
12178334,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,0,166.75
12178335,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,373,166.75
12178336,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,169,166.75
12178337,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,397,166.75
12178338,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,1,166.75
12178339,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,78,166.75
12178340,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,4,166.75
12178341,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0,8,6.0,2.0,0.0,0.0,312,166.75
13541540,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,0,166.75
13541541,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,373,166.75
13541542,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,169,166.75
13541543,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,397,166.75
13541544,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,1,166.75
13541545,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,78,166.75
13541546,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,4,166.75
13541547,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0,8,6.0,2.0,0.0,0.0,312,166.75

#### Numero total de dias do emprestimo

In [87]:
x = bureau_full_df
x['DAYS_CREDIT_ENDDATE'] = x['DAYS_CREDIT_ENDDATE'].fillna(0)
x['DAYS_CREDIT_POSITIVE'] = x['DAYS_CREDIT'] * -1
bureau_full_df['TOTAL_OF_LOAN_DAYS'] = x['DAYS_CREDIT_POSITIVE'] + x['DAYS_CREDIT_ENDDATE']
bureau_full_df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,BUREAU_NUMBER_OF_BAD DEBT_LOANS,DAYS_CREDIT_DIFF,DAYS_CREDIT_DIFF_MEAN,DAYS_CREDIT_POSITIVE,TOTAL_OF_LOAN_DAYS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,0,166.272727,497,344.0
1,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,160,166.272727,497,344.0
2,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,0,166.272727,497,344.0
3,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,5,166.272727,497,344.0
4,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,65,166.272727,497,344.0

In [88]:
# Qual o tempo medio entre os emprestimos realizados?
x = bureau_full_df[['SK_ID_CURR', 'TOTAL_OF_LOAN_DAYS']].groupby(by = ['SK_ID_CURR'])['TOTAL_OF_LOAN_DAYS'].mean()
x = x.to_frame().reset_index().rename(index=str, columns={'TOTAL_OF_LOAN_DAYS': 'MEAN_OF_LOAN_DAYS'})
bureau_full_df = bureau_full_df.merge(x, on=['SK_ID_CURR'], how='left')
bureau_full_df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,BUREAU_NUMBER_OF_BAD DEBT_LOANS,DAYS_CREDIT_DIFF,DAYS_CREDIT_DIFF_MEAN,DAYS_CREDIT_POSITIVE,TOTAL_OF_LOAN_DAYS,MEAN_OF_LOAN_DAYS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,0,166.272727,497,344.0,3169.0
1,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,160,166.272727,497,344.0,3169.0
2,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,0,166.272727,497,344.0,3169.0
3,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,5,166.272727,497,344.0,3169.0
4,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,11,5.0,6.0,0.0,0.0,65,166.272727,497,344.0,3169.0

#### Existem dois ou mais pedidos de empréstimo ao mesmo tempo?

#### Existem créditos atrasados (CREDIT_DAY_OVERDUE)?

#### Gravando nova tabela em CSV para ser usada no modelo externo

In [89]:
application_train_df = pd.read_csv('dataset/application_train.csv')

In [90]:
features = ['SK_ID_CURR',  'BUREAU_NUMBER_OF_LOANS', 'BUREAU_NUMBER_OF_CLOSED_LOANS', 'BUREAU_NUMBER_OF_ACTIVE_LOANS', 'BUREAU_NUMBER_OF_SOLD_LOANS', 'DAYS_CREDIT_DIFF_MEAN', 'MEAN_OF_LOAN_DAYS']
b = bureau_full_df[features].drop_duplicates().reset_index()
b.to_csv('dataset/bureau_processed.csv', index=False)

In [92]:
x = application_train_df.merge(right=b, on=['SK_ID_CURR'], how='left')
x.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,index,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,DAYS_CREDIT_DIFF_MEAN,MEAN_OF_LOAN_DAYS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,6169431.0,8.0,6.0,2.0,0.0,166.75,612.25
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,9351490.0,4.0,3.0,1.0,0.0,495.00,856.25
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,3317022.0,2.0,2.0,0.0,0.0,459.00,378.50
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,13701533.0,1.0,1.0,0.0,0.0,0.00,366.00

In [93]:
bureau_full_df[bureau_full_df.SK_ID_CURR == 100006]

Empty DataFrame
Columns: [SK_ID_CURR, SK_ID_BUREAU, CREDIT_ACTIVE, CREDIT_CURRENCY, DAYS_CREDIT, CREDIT_DAY_OVERDUE, DAYS_CREDIT_ENDDATE, DAYS_ENDDATE_FACT, AMT_CREDIT_MAX_OVERDUE, CNT_CREDIT_PROLONG, AMT_CREDIT_SUM, AMT_CREDIT_SUM_DEBT, AMT_CREDIT_SUM_LIMIT, AMT_CREDIT_SUM_OVERDUE, CREDIT_TYPE, DAYS_CREDIT_UPDATE, AMT_ANNUITY, BUREAU_NUMBER_OF_LOANS, BUREAU_NUMBER_OF_CLOSED_LOANS, BUREAU_NUMBER_OF_ACTIVE_LOANS, BUREAU_NUMBER_OF_SOLD_LOANS, BUREAU_NUMBER_OF_BAD DEBT_LOANS, DAYS_CREDIT_DIFF, DAYS_CREDIT_DIFF_MEAN, DAYS_CREDIT_POSITIVE, TOTAL_OF_LOAN_DAYS, MEAN_OF_LOAN_DAYS]
Index: []

In [59]:
application_train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
bureau_full_df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUREAU_NUMBER_OF_LOANS,BUREAU_NUMBER_OF_CLOSED_LOANS,BUREAU_NUMBER_OF_ACTIVE_LOANS,BUREAU_NUMBER_OF_SOLD_LOANS,DAYS_CREDIT_DIFF,DAYS_CREDIT_DIFF_MEAN,DAYS_CREDIT_POSITIVE,TOTAL_OF_LOAN_DAYS,MEAN_OF_LOAN_DAYS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,1.0,6.0,0.0,0,83.714286,497,344.0,4606.0
1,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,1.0,6.0,0.0,160,83.714286,497,344.0,4606.0
2,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,1.0,6.0,0.0,0,83.714286,497,344.0,4606.0
3,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,1.0,6.0,0.0,5,83.714286,497,344.0,4606.0
4,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,7,1.0,6.0,0.0,65,83.714286,497,344.0,4606.0

In [18]:
features = ['SK_ID_CURR', 'BUREAU_NUMBER_OF_LOANS', 'BUREAU_NUMBER_OF_CLOSED_LOANS', 'BUREAU_NUMBER_OF_ACTIVE_LOANS', 'BUREAU_NUMBER_OF_SOLD_LOANS', 'BUREAU_NUMBER_OF_BAD DEBT_LOANS', 'DAYS_CREDIT_DIFF', 'DAYS_CREDIT_DIFF_MEAN', 'MEAN_OF_LOAN_DAYS']
bureau_full_df[features].to_csv('dataset/bureau_processed.csv', index=False)

### Analisando bureau_balance.csv

In [131]:
from sklearn.preprocessing import MinMaxScaler

bureau_balance_df = pd.read_csv('dataset/bureau_balance.csv')
bureau_balance_df['MONTHS_BALANCE'] = bureau_balance_df['MONTHS_BALANCE'] * -1
bureau_balance_df['STATUS_NUMBER'] = pd.to_numeric(bureau_balance_df['STATUS'].map({'C': 0,   # Pagamento feito normal
                                                                                    'X': 0.1, # Nao tem a informacao, vamos dar um risco baixo
                                                                                    '0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5}))
max_months = bureau_balance_df['MONTHS_BALANCE'].max()
bureau_balance_df['RISK_SCORE'] = ((max_months - bureau_balance_df['MONTHS_BALANCE']) * bureau_balance_df['STATUS_NUMBER'])
bureau_balance_df['RISK_SCORE'] = bureau_balance_df['RISK_SCORE'] / bureau_balance_df['RISK_SCORE'].max()

In [132]:
bureau_balance_df['RISK_SCORE'].max()

1.0

In [133]:
bureau_balance_df.head(10)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  STATUS_NUMBER  RISK_SCORE
0       5715448               0      C            0.0         0.0
1       5715448               1      C            0.0         0.0
2       5715448               2      C            0.0         0.0
3       5715448               3      C            0.0         0.0
4       5715448               4      C            0.0         0.0
5       5715448               5      C            0.0         0.0
6       5715448               6      C            0.0         0.0
7       5715448               7      C            0.0         0.0
8       5715448               8      C            0.0         0.0
9       5715448               9      0            0.0         0.0

In [134]:
# Alguns casos com informações faltantes mas nada demais
print(bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 5715448]['RISK_SCORE'].sum())
bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 5715448]

0.158958333333

    SK_ID_BUREAU  MONTHS_BALANCE STATUS  STATUS_NUMBER  RISK_SCORE
0        5715448               0      C            0.0    0.000000
1        5715448               1      C            0.0    0.000000
2        5715448               2      C            0.0    0.000000
3        5715448               3      C            0.0    0.000000
4        5715448               4      C            0.0    0.000000
5        5715448               5      C            0.0    0.000000
6        5715448               6      C            0.0    0.000000
7        5715448               7      C            0.0    0.000000
8        5715448               8      C            0.0    0.000000
9        5715448               9      0            0.0    0.000000
10       5715448              10      0            0.0    0.000000
11       5715448              11      X            0.1    0.017708
12       5715448              12      X            0.1    0.017500
13       5715448              13      X            0.1    0.017292
14       5715448              14      0            0.0    0.000000
15       5715448              15      0            0.0    0.000000
16       5715448              16      0            0.0    0.000000
17       5715448              17      0            0.0    0.000000
18       5715448              18      0            0.0    0.000000
19       5715448              19      0            0.0    0.000000
20       5715448              20      X            0.1    0.015833
21       5715448              21      X            0.1    0.015625
22       5715448              22      X            0.1    0.015417
23       5715448              23      X            0.1    0.015208
24       5715448              24      X            0.1    0.015000
25       5715448              25      X            0.1    0.014792
26       5715448              26      X            0.1    0.014583

In [135]:
# Risco altíssimo, os ultimos meses todos com status 5
print(bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 5724857]['RISK_SCORE'].sum())
bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 5724857]

5.84375

       SK_ID_BUREAU  MONTHS_BALANCE STATUS  STATUS_NUMBER  RISK_SCORE
73909       5724857               0      5            5.0    1.000000
73910       5724857               1      5            5.0    0.989583
73911       5724857               2      5            5.0    0.979167
73912       5724857               3      5            5.0    0.968750
73913       5724857               4      5            5.0    0.958333
73914       5724857               5      5            5.0    0.947917
73915       5724857               6      0            0.0    0.000000
73916       5724857               7      0            0.0    0.000000
73917       5724857               8      0            0.0    0.000000
73918       5724857               9      0            0.0    0.000000
73919       5724857              10      0            0.0    0.000000

In [129]:
# Ultimos 4 meses mais recentes atrasados
print(bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 6570709]['RISK_SCORE'].sum())
bureau_balance_df[bureau_balance_df.SK_ID_BUREAU == 6570709]

0.0105229160579

        SK_ID_BUREAU  MONTHS_BALANCE STATUS  STATUS_NUMBER    RISK_SCORE
887378       6570709               0      4            4.0  1.041667e-02
887379       6570709               1      3            3.0  1.051513e-04
887380       6570709               2      2            2.0  1.083676e-06
887381       6570709               3      1            1.0  1.140583e-08
887382       6570709               4      0            0.0  1.226433e-10
887383       6570709               5      0            0.0  1.226433e-10
887384       6570709               6      0            0.0  1.226433e-10
887385       6570709               7      0            0.0  1.226433e-10
887386       6570709               8      0            0.0  1.226433e-10
887387       6570709               9      0            0.0  1.226433e-10
887388       6570709              10      0            0.0  1.226433e-10
887389       6570709              11      0            0.0  1.226433e-10
887390       6570709              12      0            0.0  1.226433e-10
887391       6570709              13      0            0.0  1.226433e-10
887392       6570709              14      0            0.0  1.226433e-10
887393       6570709              15      0            0.0  1.226433e-10
887394       6570709              16      0            0.0  1.226433e-10
887395       6570709              17      0            0.0  1.226433e-10
887396       6570709              18      0            0.0  1.226433e-10
887397       6570709              19      0            0.0  1.226433e-10
887398       6570709              20      0            0.0  1.226433e-10
887399       6570709              21      0            0.0  1.226433e-10
887400       6570709              22      0            0.0  1.226433e-10
887401       6570709              23      0            0.0  1.226433e-10
887402       6570709              24      0            0.0  1.226433e-10
887403       6570709              25      0            0.0  1.226433e-10
887404       6570709              26      0            0.0  1.226433e-10
887405       6570709              27      X            0.1  1.872961e-10

In [136]:
bureau_balance_df.groupby(by='SK_ID_BUREAU')['RISK_SCORE'].sum().reset_index()

        SK_ID_BUREAU  RISK_SCORE
0            5001709    0.011458
1            5001710    0.178958
2            5001711    0.020000
3            5001712    0.000000
4            5001713    0.391875
5            5001714    0.278125
6            5001715    0.831250
7            5001716    0.085417
8            5001717    0.000000
9            5001718    0.517083
10           5001719    0.000000
11           5001720    1.300000
12           5001721    0.000000
13           5001722    1.610417
14           5001723    0.405625
15           5001724    0.131250
16           5001725    0.018542
17           5001726    0.000000
18           5001727    0.000000
19           5001728    0.000000
20           5001729    0.000000
21           5001730    0.000000
22           5001731    0.208542
23           5001732    0.588750
24           5001733    0.208542
25           5001734    0.000000
26           5001735    0.000000
27           5001736    0.000000
28           5001737    0.000000
29           5001738    0.000000
...              ...         ...
817365       6842859    0.000000
817366       6842860    0.110208
817367       6842861    0.170833
817368       6842862    0.374375
817369       6842863    0.244792
817370       6842864    0.313958
817371       6842865    0.000000
817372       6842866    0.000000
817373       6842867    0.000000
817374       6842868    0.000000
817375       6842869    0.000000
817376       6842870    0.026250
817377       6842871    0.125000
817378       6842872    0.007917
817379       6842873    0.000000
817380       6842874    0.022292
817381       6842875    0.004167
817382       6842876    0.437500
817383       6842877    0.011667
817384       6842878    0.029167
817385       6842879    0.188958
817386       6842880    0.332917
817387       6842881    0.220000
817388       6842882    0.076250
817389       6842883    0.012500
817390       6842884    0.263333
817391       6842885   11.312500
817392       6842886    0.000000
817393       6842887    0.000000
817394       6842888    0.079167

[817395 rows x 2 columns]

In [82]:
bureau_balance_df[bureau_balance_df.STATUS == '4'][bureau_balance_df.MONTHS_BALANCE == 0]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

          SK_ID_BUREAU  MONTHS_BALANCE STATUS  STATUS_NUMBER  TRUST_SCORE
887378         6570709               0      4            4.0          1.0
1774273        6596848               0      4            4.0          1.0
1858554        6007250               0      4            4.0          1.0
2136851        5213550               0      4            4.0          1.0
2428365        6544132               0      4            4.0          1.0
2557142        6261447               0      4            4.0          1.0
2678167        5852578               0      4            4.0          1.0
2678180        5852580               0      4            4.0          1.0
3876792        6368817               0      4            4.0          1.0
3900938        5784915               0      4            4.0          1.0
4759426        5051161               0      4            4.0          1.0
4986632        5190285               0      4            4.0          1.0
5360996        6830699               0      4            4.0          1.0
5868063        5735461               0      4            4.0          1.0
6080331        5137203               0      4            4.0          1.0
7188630        5180495               0      4            4.0          1.0
7263631        5036660               0      4            4.0          1.0
7441827        6451121               0      4            4.0          1.0
7818777        6098802               0      4            4.0          1.0
7818788        6098803               0      4            4.0          1.0
7947326        5735663               0      4            4.0          1.0
8143328        6397807               0      4            4.0          1.0
8762389        5976450               0      4            4.0          1.0
8780970        6529330               0      4            4.0          1.0
9313187        5969398               0      4            4.0          1.0
9813303        6782546               0      4            4.0          1.0
10975903       5105196               0      4            4.0          1.0
11212610       6099301               0      4            4.0          1.0
11786644       5439774               0      4            4.0          1.0
12557964       5976308               0      4            4.0          1.0
...                ...             ...    ...            ...          ...
13842377       5678559               0      4            4.0          1.0
13924899       5440039               0      4            4.0          1.0
14964193       6032072               0      4            4.0          1.0
15493886       6077868               0      4            4.0          1.0
15847408       6520992               0      4            4.0          1.0
17668092       6123264               0      4            4.0          1.0
18585346       6207546               0      4            4.0          1.0
18922150       6744059               0      4            4.0          1.0
19278616       5269115               0      4            4.0          1.0
19329042       5355107               0      4            4.0          1.0
19333278       5353475               0      4            4.0          1.0
19389735       5279135               0      4            4.0          1.0
19522846       5267978               0      4            4.0          1.0
19930232       5290876               0      4            4.0          1.0
21058087       6425246               0      4            4.0          1.0
21132830       5513478               0      4            4.0          1.0
21696556       5125763               0      4            4.0          1.0
21757813       6213502               0      4            4.0          1.0
22367231       6608018               0      4            4.0          1.0
22765659       5760583               0      4            4.0          1.0
22960853       6840222               0      4            4.0          1.0
23341614       6664880               0      4            4.0          1.0
24430478       6336371               0      4            4.0          1.0
24727773       5735459               0      4            4.0          1.0
25059959       6686545               0      4            4.0          1.0
25822222       6691563               0      4            4.0          1.0
25999976       5632201               0      4            4.0          1.0
26350268       6690339               0      4            4.0          1.0
26493076       5982255               0      4            4.0          1.0
26902742       5995766               0      4            4.0          1.0

[62 rows x 5 columns]

In [17]:
bureau_balance_df.STATUS.unique()

array(['C', '0', 'X', '1', '2', '3', '5', '4'], dtype=object)

* C - emprestimo liquidado (closed)
* 0 - pagamento dentro do prazo
* 1, 2, 3, 4, 5 - pagamento atrasado
* X - não tem informação

In [4]:
bb_processed_df = pd.read_csv('dataset/bureau_balance_processed.csv')

In [5]:
bb_processed_df.head()

,SK_ID_BUREAU,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,SK_ID_CURR,TARGET,TRAIN
0,5001709,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,0.0
1,5001710,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-2.0,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,162368.0,NaN,0.0
2,5001711,-2.0,0.0,0.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,162368.0,NaN,0.0
3,5001712,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,162368.0,NaN,0.0
4,5001713,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,150635.0,NaN,0.0

In [9]:
group = bb_processed_df.groupby(by='SK_ID_CURR')['SK_ID_BUREAU'].count().reset_index()
group.head()

   SK_ID_CURR  SK_ID_BUREAU
0    100001.0             7
1    100002.0             8
2    100005.0             3
3    100010.0             2
4    100013.0             4

In [11]:
bb_processed_df[bb_processed_df.SK_ID_CURR == 100001]

,SK_ID_BUREAU,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,SK_ID_CURR,TARGET,TRAIN
297263,5896630,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-2.0,-2.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297264,5896631,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297265,5896632,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297266,5896633,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297267,5896634,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.0,-2.0,-2.0,0.0,0.0,-2.0,0.0,-2.0,0.0,0.0,-2.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297268,5896635,0.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0
297269,5896636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,100001.0,NaN,0.0

In [22]:
bureau_full_df[bureau_full_df.SK_ID_BUREAU == 5715448]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
768,380361,5715448,Active,currency 1,-820,0,31069.0,NaN,NaN,0,67500.0,0.0,67500.0,0.0,Credit card,-183,0.0

In [28]:
bureau_balance_df.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [102]:
tmp_df.head()

,SK_ID_BUREAU,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96
0,5715448,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5715449,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5715451,NaN,NaN,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5715452,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5715453,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df = pd.read_csv('dataset/bureau_balance_processed.csv')

In [4]:
df.shape

(817395, 100)

In [14]:
df.shape

(523515, 100)

In [22]:
df.head()

,SK_ID_BUREAU,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,SK_ID_CURR,TARGET
0,5008804,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,163686.0,0.0
1,5008805,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,163686.0,0.0
2,5008806,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-2.0,0.0,0.0,-2.0,0.0,-2.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0,0.0,-2.0,-2.0,-2.0,0.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,356203.0,0.0
3,5008807,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,356203.0,0.0
4,5008808,0.0,-2.0,0.0,-2.0,-2.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,260295.0,0.0

In [12]:
df.dropna(subset = ['SK_ID_CURR', 'TARGET']).shape

(523515, 100)

In [6]:
bureau_df = pd.read_csv('dataset/bureau.csv')

In [7]:
bureau_df

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,108982.620,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,0.000,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,0.000,0.0,Consumer credit,-71,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,228320.100,0.0,Credit card,-22,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,NaN,0.0,Car loan,-32,NaN
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,Closed,currency 1,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,NaN,0.0,Consumer credit,-824,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,0.000,0.0,Credit card,-42,NaN
1716400,318662,5057561,Active,currency 1,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,0.000,0.0,Consumer credit,-70,NaN
1716401,145715,5057569,Closed,currency 1,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,0.000,0.0,Consumer credit,-1984,NaN
1716402,352358,5057580,Closed,currency 1,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,0.000,0.0,Consumer credit,-1532,NaN
1716403,361928,5057589,Active,currency 1,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,0.000,0.0,Consumer credit,-126,NaN
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,0.000,0.0,Consumer credit,-7,NaN
1716405,438109,5057605,Closed,currency 1,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,0.000,0.0,Consumer credit,-2082,NaN
1716406,335468,5057618,Closed,currency 1,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,0.000,0.0,Car loan,-2363,NaN
1716407,146896,5057629,Closed,currency 1,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,NaN,0.0,Consumer credit,-1248,NaN
1716408,146896,5057632,Closed,currency 1,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,NaN,0.0,Credit card,-336,NaN
1716409,146896,5057636,Closed,currency 1,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,0.000,0.0,Credit card,-582,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.000,0.000,0.000,0.0,Credit card,-46,NaN
1716411,232118,5057652,Closed,currency 1,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,0.000,0.0,Consumer credit,-545,NaN
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,0.000,0.0,Consumer credit,-11,NaN
1716413,288038,5057665,Closed,currency 1,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,0.000,0.0,Consumer credit,-33,NaN
1716414,445222,5057676,Closed,currency 1,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,0.000,0.0,Consumer credit,-1320,NaN
1716415,317217,5057684,Closed,currency 1,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,NaN,0.0,Consumer credit,-1577,NaN
1716416,433007,5057695,Closed,currency 1,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,0.000,0.0,Consumer credit,-720,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,NaN,0.0,Credit card,-433,NaN
1716418,433007,5057708,Closed,currency 1,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,0.000,0.0,Consumer credit,-1299,NaN
1716419,352790,5057718,Closed,currency 1,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,0.000,0.0,Consumer credit,-1625,NaN
1716420,352790,5057725,Closed,currency 1,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,0.000,0.0,Consumer credit,-18,NaN
1716421,375755,5057734,Closed,currency 1,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,NaN,0.0,Consumer credit,-1139,NaN
1716422,375755,5057742,Closed,currency 1,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,NaN,0.0,Credit card,-109,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,0.000,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,0.000,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,0.000,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,NaN,0.0,Microloan,-387,NaN